*{
    padding: 0px;
    margin: 0px;
}
body {
  background-color: #121212 !important;
  color: #ffffff;
  margin: 0;
  font-family: Arial, sans-serif;
}

input, select, textarea {
  background-color: #1e1e1e !important;
  color: white !important;
  border: 1px solid #333 !important;
}

input::placeholder {
  color: #aaa !important;
}

.btn {
  border-radius: 4px !important;
}